<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf,org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Insert title here</title>
<link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
</head>
<body>
<section>
<div class="container my-5 text-center" style="padding-top: 150px;">
			<div class="row">
				<div class="col-md-6 offset-md-3">
            <div class="my-card mt-2 text-center" style="padding-top: 20px;">
            <div class="container text-center">
              <h3>Your Registered Mail Id</h3>
              <div th:if="${session.message}"
							 class="alert alert-danger text-center my-1"
							role="alert">
							<p class="text-center" th:text="${session.message}">
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
              <form  method="post" action="#" th:action="@{/send-otp}">
              <div class="form-group">
              <input required type="email" name="email" placeholder="Enter email here" class="form-control">
              </div>
              <div class="container my-3">
              <button type="submit" class="btn btn-outline-warning">Send OTP</button>
              </div>
              </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</body>
</html>